extends layout

block accOpt
    li
        if !user.isLoggedIn
            a(href='/login') Log In
            ul(id='manyItems')
                li
                    a(href='/create') Register
        else
            form(method="GET", action="/logout")
                input(type="submit", value="Log Out")


block A
    div(id='bodyDiv' class='body')
        div(id='topTitle')
            h(id='topTitle') Welcome to our Page