extends layout

block accOpt
    li
        a(href='/login') Log In
        ul(id='manyItems')
            li
                a(href='/create') Register


block A
    div(id='bodyDiv' class='body')
        div(id='topTitle')
            h(id='topTitle') Welcome to our Page